body {
  text-align: left;
  background-color: #e9dfc7;
  width: 100%;
  overflow: scroll; }

.articleActionMiddle {
  position: fixed;
  z-index: 10002;
  width: 100%;
  height: 40%;
  top: 30%; }

.topNav {
  position: fixed;
  width: 100%;
  height: 50px;
  top: 0;
  z-index: 9999;
  background-color: #000; }
  .topNav .backIcon {
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 24px;
    color: #858382;
    line-height: 25px;
    text-align: center;
    height: 25px;
    width: 25px;
    border: 1px solid #858382;
    border-radius: 50%; }
  .topNav .backTitle {
    position: absolute;
    top: 14px;
    left: 43px;
    margin: 5px;
    color: #858382; }

.fictionContent {
  font-size: 14px;
  color: #555;
  line-height: 31px;
  padding: 15px; }
  .fictionContent h4 {
    font-size: 20px;
    border-bottom: 1px solid #736357;
    color: #736357;
    letter-spacing: 2px;
    margin: 0 0 1em 0; }
  .fictionContent p {
    text-indent: 2em;
    margin: 0.5em 0;
    letter-spacing: 0px;
    line-height: 24px; }

.buttonBar {
  width: 70%;
  max-width: 800px;
  padding: 5px;
  margin: 0 auto; }
  .buttonBar .uTab {
    height: 34px;
    margin: 10px auto;
    line-height: 34px;
    border-radius: 3px;
    border: 1px solid #858382;
    font-size: 12px;
    background-color: #000;
    opacity: 0.9; }
    .buttonBar .uTab li {
      display: inline-block;
      width: 48%;
      border-right: 1px solid #858382;
      text-align: center;
      color: #ffffff; }
    .buttonBar .uTab li:nth-child(2) {
      border-right: none; }

.navPanelBac {
  width: 100%;
  position: fixed;
  bottom: 70px;
  height: 135px;
  background-color: #000;
  opacity: 0.9;
  z-index: 9999; }

.navPanel {
  width: 100%;
  position: fixed;
  bottom: 70px;
  height: 135px;
  background: none;
  z-index: 10002; }
  .navPanel .childMod {
    padding: 5px 10px;
    margin: 15px; }
    .navPanel .childMod span {
      display: inline-block;
      padding-right: 20px;
      padding-left: 22px;
      color: #ffffff; }
    .navPanel .childMod .largeFont {
      width: 60px;
      text-align: center;
      background: none;
      border: 1px solid #8c8c8c;
      color: #ffffff;
      border-radius: 16px;
      padding: 2px 40px 5px 30px; }
    .navPanel .childMod .smallFont {
      padding: 2px 40px 5px 30px;
      margin-left: 10px;
      width: 60px;
      text-align: center;
      background: none;
      border: 1px solid #8c8c8c;
      color: #ffffff;
      border-radius: 16px; }
    .navPanel .childMod .bacContainer {
      z-index: 10009;
      margin-right: 10px;
      position: relative;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      display: inline-block;
      vertical-align: middle;
      background-color: #ffffff;
      border: 1px solid #ffffff; }
      .navPanel .childMod .bacContainer .bacContainerCurrent {
        display: inline-block;
        position: absolute;
        top: -2px;
        left: -2px;
        width: 32px;
        height: 32px;
        border-radius: 16px;
        border: 1px solid #ff7800; }

.footerNav {
  position: fixed;
  width: 100%;
  height: 70px;
  bottom: 0;
  z-index: 9999;
  background-color: #000;
  opacity: 0.9; }
  .footerNav .muLu, .footerNav .font {
    width: 30%; }
    .footerNav .muLu img, .footerNav .font img {
      background-color: #000;
      opacity: 0.9;
      width: 18px;
      height: 20px; }
    .footerNav .muLu .footerTitle, .footerNav .font .footerTitle {
      margin-top: 5px;
      color: #ffffff; }
  .footerNav .moShiBtn {
    width: 30%; }
    .footerNav .moShiBtn .night img {
      background-color: #000;
      opacity: 0.9;
      width: 18px;
      height: 20px; }
    .footerNav .moShiBtn .night .footerTitle {
      margin-top: 5px;
      color: #ffffff; }
    .footerNav .moShiBtn .morning img {
      background-color: #000;
      opacity: 0.9;
      width: 18px;
      height: 20px; }
    .footerNav .moShiBtn .morning .footerTitle {
      margin-top: 5px;
      color: #ffffff; }

/*# sourceMappingURL=demo.css.map */
